#light {
  background-color: rgb(255, 255, 255);
  color: black
}

#dark {
  background-color: #0f0f0f;
  color: white
}

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px
}

#light .control-panel {
  background-color: #ebebeb;
}

#dark .control-panel {
  background-color: #1d1d1d;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 10%;
  border-radius: 10px;
}

#light .control-panel button {
  background-color: #2b95ff; 
}

#dark .control-panel button {
  background-color: #1e90ff; 
}

.control-panel button {
  margin: 5px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.control-panel button:hover {
  box-shadow: 0 0 20px rgba(30, 144, 255, 0.8);
  transform: scale(1.1);
}

#light .control-panel .led-button {
  background-color: #f86544; 
}

#dark .control-panel .led-button {
  background-color: #ff5733; 
}

.control-panel .led-button {
  width: 200px;
  height: 50px;
  background-color: #ff5733; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(255, 87, 51, 0.5);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.control-panel .led-button:hover {
  box-shadow: 0 0 20px rgba(255, 87, 51, 0.8);
  transform: scale(1.1);
}

.control-panel button:active {
  filter: brightness(85%); 
  transform: scale(1.01); 
}

.control-panel .led-button:active {
  filter: brightness(85%);
  transform: scale(1.01);
}


.middle-row {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.speed-slider {
  margin-top: 20px;
}

.speed-slider label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.motor-status p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.motor-status .active {
  color: green;
}

.motor-status .inactive {
  color: red; 
}


#light .imu-container {
  background-color: #ebebeb;
}

#dark .imu-container {
  background-color: #1d1d1d;
}

.imu-container {
  flex: none;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  border-radius: 10px;
  width: fit-content; 
  max-width: 90%;
  text-align: center; 
  gap: 20px;
}

#light .imu-data {
  background-color: #ebebeb;
}

#dark .imu-data{
  background-color: #1d1d1d;
}

.control-buttons, .imu-data {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.imu-data {
  width: 20%; 
  white-space: nowrap;  /* Prevent text wrapping */
  overflow: hidden;     /* Hide overflowing text if it exceeds the container */
  text-overflow: ellipsis; 
}

.control-buttons {
  width: 100%;
}

@media (max-width: 768px) {
  .imu-container {
    width: 100%; 
    padding: 15px; 
  }
}

.switch-container {
  display: flex;
  gap: 10px; 
  position: fixed; 
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  width: auto; 
  height: auto; 
  padding: 10px; 
}

.theme-label {
  font-size: 16px; 
  color: inherit; 
}

.theme-switch {
  cursor: pointer; 
}

.ros-container {
  flex: none;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  border-radius: 10px;
  width: fit-content; 
  max-width: 90%;
  text-align: center; 
  gap: 20px;
}
.ros-status {
  width: 20%; 
  white-space: nowrap;  /* Prevent text wrapping */
  overflow: hidden;     /* Hide overflowing text if it exceeds the container */
  text-overflow: ellipsis; 

}


#dark .ros-container {
  background-color: #1d1d1d; 
}

#light .ros-container {
  background-color: #ebebeb;
}





